<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perform Sentiment</title>  
</head>
<body>
    <h1>NLP APP</h1>
    
    <div style="text-align: right;">
        <a href="/logout">Logout</a>
    </div>

    <form action="/perform_sentiment" method ="POST">
        <label>Enter Text Here:</label><br>
        <textarea name="input_text"></textarea><br>
        <input type="submit" value="Perform Sentiment"><br><br>
    </form>
    {%if response%}
        <p>{{response}}</p>
    {% endif %}
</body>
</html>